<h1>Ptica moja</h1>
<p> You are the sunshine of my life </p>
<p> <%= link_to "This is how I feel about you", "http://www.youtube.com/embed/yhhDAf_lKrk"%> </p>
<p> Let me count the ways I love you! </p>
<div class="center hero-unit"
	<p> <%= link_to "Click to Kiss!", "#", class: "btn btn-large btn-primary" %> </p>
</div>